boolSig	True
basicpath	/mnt/c/Users/andiz/Documents/ii/curcor/measurements/202009/20200910_led_calib_corr/
body	/mnt/c/Users/andiz/Documents/ii/curcor/measurements/202009/20200910_led_calib_corr/led
beg	0
end	1063
calibFile	/mnt/c/Users/andiz/Documents/ii/curcor/measurements/202009/20200910_led_calib_corr/calibs/calib_850.calib
offsetFile	/mnt/c/Users/andiz/Documents/ii/curcor/measurements/202009/20200910_led_calib_corr/calibs/off.off
corrFactor	2.439

boolRef	True
basicpath	/mnt/c/Users/andiz/Documents/ii/curcor/measurements/202009/20200910_led_calib_corr/
body	/mnt/c/Users/andiz/Documents/ii/curcor/measurements/202009/20200910_led_calib_corr/halogen
beg	0
end	1064
calibFile	/mnt/c/Users/andiz/Documents/ii/curcor/measurements/202009/20200910_led_calib_corr/calibs/calib_850.calib
offsetFile	/mnt/c/Users/andiz/Documents/ii/curcor/measurements/202009/20200910_led_calib_corr/calibs/off.off
corrFactor	2.439

